Agrobot.json
{
  "name": "Agrobot",
  "nodes": [
    {
      "parameters": {
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1216,
        -320
      ],
      "id": "7f66f474-3d38-41ba-890d-2d6dff188a07",
      "name": "Basic LLM Chain",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1296,
        -96
      ],
      "id": "045be6a4-cb76-4f29-98cf-1dcc953dfa6c",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Cp3EHtoCdDQtuz03",
          "name": "Anthropic account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "mode": "list",
          "value": {}
        },
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        1504,
        -320
      ],
      "id": "d74983aa-1f73-44bb-8d2a-a3a2bc8324bf",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "oYjdbb1mpqWIMa7q",
          "name": "ElevenLabs account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "bba2a502-2d6b-44e8-b539-752de2ed7218"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vozOuvida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd401752-1890-4698-b472-577c50beb0c7",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "textoLido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        208,
        0
      ],
      "id": "335d47d9-6d22-4d4f-b421-3f2353e03d57",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "8f40491b243146c9902404778c75b609"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -320
      ],
      "id": "92b6ab31-50e6-4055-8926-4e122ff73a86",
      "name": "GET Transcrição",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "8f40491b243146c9902404778c75b609"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $json.upload_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        -320
      ],
      "id": "032f81cf-3754-40e1-b31f-bc759c16df8c",
      "name": "POST Arquivo Baixado",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "8f40491b243146c9902404778c75b609"
            },
            {
              "name": "Content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -320
      ],
      "id": "93656531-4ac6-4e54-a63e-a2af544676d5",
      "name": "POST Assembly AI",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        -176
      ],
      "id": "26494bec-3386-4756-a6c2-bba298f634b9",
      "name": "Baixando Arquivo",
      "webhookId": "9366bd04-f5f5-4864-9ef8-4fb0cdfe03d6",
      "credentials": {
        "telegramApi": {
          "id": "fEtoW3pfs5vTme4C",
          "name": "Telegram Account Agrobot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "11585da4-a6df-43f3-8b94-813162bb4ba8",
      "name": "Gatilho Telegram",
      "webhookId": "d5699c14-f8de-4dbe-aba1-51f4f85faaa8",
      "credentials": {
        "telegramApi": {
          "id": "fEtoW3pfs5vTme4C",
          "name": "Telegram Account Agrobot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file"
      },
      "type": "n8n-nodes-assemblyai.assemblyAi",
      "typeVersion": 1,
      "position": [
        768,
        -96
      ],
      "id": "68b15fab-829a-4032-a837-1c96bf6dee90",
      "name": "Upload a file",
      "credentials": {
        "assemblyAiApi": {
          "id": "gM0yxGkrN4aGKakB",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {
          "language_code": "pt"
        }
      },
      "type": "n8n-nodes-assemblyai.assemblyAi",
      "typeVersion": 1,
      "position": [
        944,
        -96
      ],
      "id": "098ae78b-4613-4166-9fa5-1489d6b11e0a",
      "name": "Create a transcription",
      "credentials": {
        "assemblyAiApi": {
          "id": "gM0yxGkrN4aGKakB",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        576,
        -96
      ],
      "id": "09078846-1fec-477e-9dd0-86279dae4b2c",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {
    "POST Arquivo Baixado": [
      {
        "json": {
          "id": "20347899-8c4a-416c-9cc7-2126a3fa141f",
          "language_model": "assemblyai_default",
          "acoustic_model": "assemblyai_default",
          "language_code": "pt_br",
          "speech_understanding": null,
          "translated_texts": null,
          "status": "queued",
          "audio_url": "https://cdn.assemblyai.com/upload/462276a0-c3d1-44da-8202-c79c43613381",
          "text": null,
          "words": null,
          "utterances": null,
          "confidence": null,
          "audio_duration": null,
          "punctuate": true,
          "format_text": true,
          "dual_channel": null,
          "webhook_url": null,
          "webhook_status_code": null,
          "webhook_auth": false,
          "webhook_auth_header_name": null,
          "speed_boost": false,
          "auto_highlights_result": null,
          "auto_highlights": false,
          "audio_start_from": null,
          "audio_end_at": null,
          "word_boost": [],
          "boost_param": null,
          "prompt": null,
          "keyterms_prompt": null,
          "filter_profanity": false,
          "redact_pii": false,
          "redact_pii_audio": false,
          "redact_pii_audio_quality": null,
          "redact_pii_audio_options": null,
          "redact_pii_policies": null,
          "redact_pii_sub": null,
          "speaker_labels": false,
          "speaker_options": null,
          "content_safety": false,
          "iab_categories": false,
          "content_safety_labels": {},
          "iab_categories_result": {},
          "language_detection": false,
          "language_detection_options": null,
          "language_detection_results": null,
          "language_confidence_threshold": null,
          "language_confidence": null,
          "custom_spelling": null,
          "throttled": false,
          "auto_chapters": false,
          "summarization": false,
          "summary_type": null,
          "summary_model": null,
          "custom_topics": false,
          "topics": [],
          "speech_threshold": null,
          "speech_model": null,
          "chapters": null,
          "disfluencies": false,
          "entity_detection": false,
          "sentiment_analysis": false,
          "sentiment_analysis_results": null,
          "entities": null,
          "speakers_expected": null,
          "summary": null,
          "custom_topics_results": null,
          "is_deleted": null,
          "multichannel": null,
          "project_id": 1375038,
          "token_id": 1385922
        }
      }
    ]
  },
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Baixando Arquivo",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GET Transcrição": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Arquivo Baixado": {
      "main": [
        [
          {
            "node": "GET Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Assembly AI": {
      "main": [
        [
          {
            "node": "POST Arquivo Baixado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixando Arquivo": {
      "main": [
        [
          {
            "node": "POST Assembly AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho Telegram": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Create a transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "dca5f0ce-e946-4196-8ed0-7c314f4571dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0745f470424028f5b545f358433257dc798d5cc79f7c3eac7a4cea2cc04bbb2d"
  },
  "id": "F5xcmdF3P9JOyqbK",
  "tags": []
}