Agrobot.json
{
  "name": "Agrobot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        880,
        -256
      ],
      "id": "48e95275-ac01-4288-91a6-58ed76e85197",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {
          "thinking": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        960,
        -32
      ],
      "id": "fbe42277-c8fa-4354-a0b6-6b3cf265e419",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "uAgcoPwxG5omudti",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "bba2a502-2d6b-44e8-b539-752de2ed7218"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vozOuvida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd401752-1890-4698-b472-577c50beb0c7",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "textoLido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -128,
        64
      ],
      "id": "4a210e39-0c3b-4d1a-9b97-959aa86ccc09",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "8f40491b243146c9902404778c75b609"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -256
      ],
      "id": "2ef82d62-7b63-49f5-accc-576acb11a97e",
      "name": "GET Transcrição"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "8f40491b243146c9902404778c75b609"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $json.upload_url }}"
            },
            {
              "name": "language_code",
              "value": "pt"
            },
            {
              "name": "speech_model",
              "value": "best"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -256
      ],
      "id": "4b0fee60-0f2e-4be8-85ce-84844d749ed8",
      "name": "POST Arquivo Baixado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "8f40491b243146c9902404778c75b609"
            },
            {
              "name": "Content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -256
      ],
      "id": "15bd0356-89f0-428e-b2f3-905306dc0d1c",
      "name": "POST Assembly AI"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        -112
      ],
      "id": "ddc5249a-320a-4807-8d0f-cde0fec03462",
      "name": "Baixando Arquivo",
      "webhookId": "9366bd04-f5f5-4864-9ef8-4fb0cdfe03d6",
      "credentials": {
        "telegramApi": {
          "id": "Bngg8QjJUUq5fIQ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        64
      ],
      "id": "55f88cb5-d849-4630-94aa-43b67dbd490a",
      "name": "Gatilho Telegram",
      "webhookId": "d5699c14-f8de-4dbe-aba1-51f4f85faaa8",
      "credentials": {
        "telegramApi": {
          "id": "Bngg8QjJUUq5fIQ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/JBFqnCBsd6RMkjVDRZzb",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_6969476857a6e974437db908602306d8bbd1485fd2abcdf7"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.data[1].text }}"
            },
            {
              "name": "model_id",
              "value": "eleven_multilingual_v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        -256
      ],
      "id": "3d1ec3a5-0a11-4d50-ba19-301d7a4be1f3",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Baixando Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Transcrição": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Arquivo Baixado": {
      "main": [
        [
          {
            "node": "GET Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Assembly AI": {
      "main": [
        [
          {
            "node": "POST Arquivo Baixado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixando Arquivo": {
      "main": [
        [
          {
            "node": "POST Assembly AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho Telegram": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "215b617d-2de4-4323-b261-8b866561d3c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e2de167b2de1ec7d41457055eda0f58bc345829a6200063a32688dc2f49e60a"
  },
  "id": "8hatIroX04gZI8Se",
  "tags": []
}